{% extends "base.html" %}


{% block content %}


<div class="page-header">
    <h1>Cambio password</h1>
</div>


{% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% if form.old_password.errors %}
    La vecchia password non è corretta.
    {% elif form.new_password1.errors or form.new_password2.errors %}
    La nuova password non è stata digitata correttamente.
    {% endif %}
    </div>
{% endif %}


<form action="" method="post" role="form" class="form-horizontal">
    {% csrf_token %}
    <p>Inserire la vecchia password, poi inserire due volte la nuova password in modo da verificare che sia stata digitata correttamente.</p>
    
    <br />
    
    <div class="form-group">
        <label class="control-label col-sm-3" for="{{ form.old_password.id_for_label }}">Vecchia password:</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="{{ form.old_password.id_for_label }}" name="old_password" placeholder="Inserire la vecchia password" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="{{ form.new_password1.id_for_label }}">Nuova password:</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" name="new_password1" placeholder="Inserire la nuova password" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="{{ form.new_password2.id_for_label }}">Ripetere la nuova password:</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" name="new_password2" placeholder="Reinserire la nuova password" />
        </div>
    </div>
    
    <div class="form-group">        
        <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-default" value="Cambia la password">Cambia la password</button>
        </div>
    </div>

</form>

{% endblock %}
