{% load staticfiles %}


 <!DOCTYPE html>
<html lang="en">
<head>
    <title>SPQR</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    
    <script src="{% static 'script.js' %}"></script>
    
    <style>
        .smallcaps {
            font-variant: small-caps;
        }
        
        .invisible {
            visibility: hidden;
        }
    </style>
</head>
<body>

<div class="container">
    
    {% block content %}{% endblock %}

</div>

</body>
</html>
