{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<div data-ng-app="word">

<div class="page-header">
    <h1>SPQR <small>So Parlare (Quasi) Russo!</small></h1>      
</div>


<div data-ng-controller="WordController" class="text-center">
    
    <br />
    <h1>[[ russian ]]</h1>
    
    <br />
    <p>
        <button type="button"
            class="btn btn-primary btn-lg"
            data-ng-click="show_italian=!show_italian">
        Visualizza traduzione
        </button>
    </p>
    
    <h1><div data-ng-class="{'invisible': !show_italian}" data-ng-cloak>[[ italian ]]</div></h1>
    
    <br />
    <br />
    <br />
    
    <p>
        <button type="button"
            class="btn btn-success btn-lg"
            data-ng-click="getWord()">
        Lemma successivo
        </button>
    </p>
</div>

</div>

{% endblock %}
